@model IEnumerable<LabProject.Models.CastMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Кіновиробництво</h1>

<p>
    <a asp-action="Create">Додати людину</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CastMemberFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CastMemberFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CastMemberId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.CastMemberId">Деталі</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CastMemberId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
