@model IEnumerable<LabProject.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Фільми</h1>
<a asp-action="Create"> <input type="button" value="Додати фільм" class="btn btn-info disabled mt-2 mb-3" /></a>

@*<p>
    @Html.ActionLink("Додати новий фільм", "Create")
    <a asp-action="Create">Додати новий фільм</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDuration)хв
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReleaseDate)
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.MovieId">Актори</a> |
                @Html.ActionLink("Жанри", "MovieGenreList", "Genres" , new {movieId = item.MovieId}) |
                <a asp-action="Edit" asp-route-id="@item.MovieId">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Видалити</a>*@
                    <a href="@Url.Action("Details", new { id = item.MovieId })"><input type="button" value="Команда" class="btn btn-info" /></a>
                    <a href="@Url.Action("MovieGenreList", "Genres", new { movieId = item.MovieId })"><input type="button" value="Жанри" class="btn btn-info" /></a>
                    <a href="@Url.Action("Edit", new { id = item.MovieId })"><input type="button" value="Редагувати" class="btn btn-outline-info" /></a>
                    <a href="@Url.Action("Delete", new { id = item.MovieId })"><input type="button" value="Видалити" class="btn btn-outline-info" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('/api/Chart/JsonDataTeam', function (JsonDataTeam) {
                data = google.visualization.arrayToDataTable(JsonDataTeam, false);
                var option = {
                    title: "Відношення кількостей акторів у фільмах",
                    width: 500,
                    height: 400,
                    pieHole: 0.4
                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}
