@model IEnumerable<LabProject.Models.Hall>

@{
    ViewData["Title"] = "Зали в кінотеатрі";
}

<h1>Зали в @ViewBag.CinemaName</h1>

<p>
     @Html.ActionLink("Додати нову залу", "Create", new {cinemaId = ViewBag.CinemaId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallCapacity)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallCapacity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.HallId">Розклад</a> |
                <a asp-action="Edit" asp-route-id="@item.HallId">Редагувати</a> |
                <a asp-action="Delete" asp-route-id="@item.HallId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
