@model IEnumerable<LabProject.Models.Cinema>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Кінотеатри</h1>

<p>
    <a asp-action="Create"> <input type="button" value="Додати кінотеатр" class="btn btn-info disabled mt-2 mb-3" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CinemaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CinemaAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaAddress)
            </td>
            <td>
                @*<form class="d-inline-block">
                    <form asp-action="Details" asp-route-id="@item.CinemaId"> <button class="btn btn-primary" type="button">Зали</button> </form>
                   <form asp-action="Edit" asp-route-id="@item.CinemaId"> <button class="btn btn-outline-primary" type="button">Редагувати</button> </form>
                   <form asp-action="Delete" asp-route-id="@item.CinemaId"> <button class="btn btn-outline-primary" type="button">Видалити</button></form>
                </form>*@
                    @*<input type="button" asp-route-id="@item.CinemaId" value="Зали" onclick="location.href='@Url.Action("Details")'" />*@
                    <a asp-action="Details" asp-route-id="@item.CinemaId"> <input type="button" value="Зали" class="btn btn-info" /></a>
                    <a asp-action="Edit" asp-route-id="@item.CinemaId"> <input type="button" value="Редагувати" class="btn btn-outline-info" /></a>
                    <a asp-action="Delete" asp-route-id="@item.CinemaId"> <input type="button" value="Видалити" class="btn btn-outline-info" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
